a:link {
  color: hotpink;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: hotpink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: gold;
  background-color: transparent;
  text-decoration: underline;
}

body { font-family: Raleway, sans-serif; margin: auto; padding: 20px; max-width: 720px; text-align: left; background-color: #fff; word-wrap: break-word; overflow-wrap: break-word; line-height: 1.5; color: #444;}

h1,h2,h3,h4,h5,h6,strong,b { color: #222;}

nav a { margin-right: 10px;}

content { line-height: 1.6;}

img { max-width: 100%;}

blockquote { border-left: 1px solid #999; color: #222; padding-left: 20px; font-style: italic;}

footer { padding: 25px; text-align: center;}

@media (prefers-color-scheme: dark) { body { background-color:#101010; color: #ddd; }
h1, h2, h3, h4, h5, h6, strong, b { color: #eee; }

a { color: #8cc2dd; }

code { background-color: #777; }

pre code { color: #ddd; }

blockquote { color: #ccc; }

body:hover { background-image: url("https://images-ext-2.discordapp.net/external/5KWG7-dy7wAXbhNFgdepRPfpllgQ4FQDV97xNlpMZrI/https/media.discordapp.net/attachments/635625973764849684/782329873145528400/twilight.jpg"); }
}
